{% extends "askme/base.html" %}

{% block content %}
    <div class="row question_head">
        <div class="col-lg-12 question_head__header"><h2>NEW QUESTIONS</h2></div>
    </div>
    <div class="row"><!-- Start body question -->

        <div class="col-lg-1 askme_createQuestion_title">
            Title
        </div>
        <div class="col-lg-11">
            <div style="color: red; font-size: xx-small;">ERROR</div>
            <form>
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Title">
                </div>

            </form>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-1 askme_createQuestion_title">
            Text
        </div>
        <div class="col-lg-11">
            <div style="color: red; font-size: xx-small;">ERROR</div>
            <form>
                <div class="form-group">
                    <textarea class="form-control askme_textArea_width_100" rows="3"
                              placeholder="Your question"></textarea>
                </div>

            </form>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-1 askme_createQuestion_title">
            Tags
        </div>
        <div class="col-lg-11">
            <div style="color: red; font-size: xx-small;">ERROR</div>
            <form>
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Title">
                </div>

            </form>
        </div>
    </div> <!-- /Start body question -->

    <div class="row">
        <div class="col-lg-11 col-lg-offset-1">
            <button type="submit" class="btn btn-default">Ask!</button>
        </div>
    </div>
{% endblock %}
