<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>AskMe</title>
	<link href="../../css/reset.css" rel="stylesheet">

	<!-- Bootstrap -->
	<link href="../../css/bootstrap.min.css" rel="stylesheet">
	<link href="../../css/style.css" rel="stylesheet">
</head>
<body>
	<!-- Static navbar -->
	<nav class="navbar navbar-default navbar-static-top">
		<div class="container">
			<div class="navbar-header">
				<a class="navbar-brand" href="/">Askme</a>
			</div>
			<div id="navbar" class="navbar-collapse collapse">
				<form class="navbar-form navbar-left" role="search">
					<input type="text" class="form-control askme_nav_input" placeholder="Search...">
					<button type="submit" class="btn btn-default">Search</button>
				</form>
                <ul class="nav navbar-nav navbar-right navbar_inlarge">

					<li class="user_information">
						<a href="/login">Login</a>
					</li>

				</ul>
			</div>
		</div><!--/.nav -->
	</nav>

	<div class="container-fluid" style="margin-top: -20px">
		<div class="row">
			<div class="col-lg-8">
				<div class="row">
					<div class="col-lg-11 col-lg-offset-1">
						{% block content %}{% endblock %}
					</div>
				</div>


			</div>
			<div class="col-lg-1"></div>
			<div class="col-lg-3 askme_tags_panel">
				<div>
					<h2>Tags</h2>
					<div class="popular_tags">
						<a href="" class="popular_tags_anchor">SQL1</a>
						<a href="" class="popular_tags_anchor">TARANTOOL</a>
						<a href="" class="popular_tags_anchor">GUNICORN</a>
						<a href="" class="popular_tags_anchor">NGINX</a>
						<a href="" class="popular_tags_anchor">CSS</a>
					</div>
				</div>
				<div>
					<h2>Users</h2>
					<div>
						<ul style="list-style: none;">
							<li><a href="#">Alex</a></li>
							<li><a href="#">Mikki</a></li>
							<li><a href="#">Sam</a></li>
							<li><a href="#">Rabbit</a></li>
						</ul>
					</div>
				</div>
			</div>

		</div>
	</div>





	<script src="http://code.jquery.com/jquery-latest.js"></script>
	<script src="../../js/bootstrap.min.js"></script>
</body>
</html>