<div class="row question_head">
    <div class="col-lg-4 question_head__another" style="text-align: justify;">
        <a href="#" style="vertical-align: middle; text-align: justify;">New questions</a>
    </div>
    <div class="col-lg-4 question_head__another" style="text-align: justify;">
        <a href="{% url 'hot' %}" style="vertical-align: middle; text-align: justify;">Hot questions</a>
    </div>
    <div class="col-lg-4 question_head__another" style="text-align: justify;">
        <a href="{% url 'ask' %}" style="vertical-align: middle; text-align: justify;">Ask question</a>
    </div>
</div>