{% extends "askme/base_unauthorized_user.html" %}

{% block content %}

{#<div class="row"><!-- Start body question -->#}
{#	<div class="col-lg-11 col-lg-offset-2" style="padding-top: 25px;">#}
{#		<p class="text-error" style="color: red;"> Wrong Login or Password </p>#}
{#	</div>#}
{#</div>#}
<div class="row" style="margin-top: 50px;">
	<div class="col-lg-1 askme_createQuestion_title"> <!-- Start body question -->
		Login
	</div>
	<div class="col-lg-10 col-lg-offset-1">
        <div style="color: red; font-size: xx-small;">ERROR</div>
		<form>
			<div class="form-group">
				<input type="text" class="form-control" placeholder="Login">
			</div>

		</form>
	</div>
</div>
<div class="row">
	<div class="col-lg-1 askme_createQuestion_title">
		Password
	</div>
	<div class="col-lg-10 col-lg-offset-1">
        <div style="color: red; font-size: xx-small;">ERROR</div>
		<form>
			<div class="form-group">
				<input type="password" class="form-control" placeholder="Password">
			</div>

		</form>
	</div>
</div> <!-- /Start body question -->

<div class="row">
	<div class="col-lg-10 col-lg-offset-2">
		<button type="submit" class="btn btn-default">Sign In</button>
		<br><br>
		<a href="/signup">Create new accaunt</a>
	</div>
</div>

{% endblock %}