<div class="row askme_question" style="display: flex; align-items: stretch;"> <!-- one question -->
    <div class="col-lg-2">
        <div style="text-align: center;margin-top: 10px; margin-bottom: -10px; max-width: 100%;">{{ question.user.username }}</div>
        <div style="text-align: center;"><img src="http://lorempixel.com/200/200/"
                                              style="width: 70px; margin-top: 20%;"></div>
        <div class="row" style="padding-top: 25%">
            <div class="col-lg-4"><a href="#"><span class="glyphicon glyphicon-thumbs-up"></span></a></div>
            <div class="col-lg-4" style="padding-left: 11px;">{{ question.ratio }}</div>
            <div class="col-lg-4"><a href="#"><span class="glyphicon glyphicon-thumbs-down"></span></a></div>
        </div>
    </div>
    <div class="col-lg-10">
        <div class="row">
            <div class="col-lg-12" style="margin-bottom: 15px">
                <h3 style="margin-bottom: 0px;"><a href="{% url 'question' question.id %}">{{ question.title }}</a></h3>
                <div style="color: lightcoral">
                    date: {{ question.publicationDate }}
                </div>
                <hr class="askme_small_margin_hr">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="askme_question_text">{{ question.text }}</div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">

                <div class="row askme_question_answer_and_tags">
                    <div class="col-lg-3">
                        {#                        <span style="color: lightcoral"> {{ question.answer_set.count }}</span>#}
                        <span style="color: lightcoral; margin-top: 13px;"><span
                                class="glyphicon glyphicon-comment"></span> {{ question.answer_set.count }}</span>
{#                        <button type="button" class="btn btn-default btn-xs"><span class="glyphicon glyphicon-comment"></span> {{ question.answer_set.count }}</button>#}

                    </div>
                    <div class="col-lg-9" style="color: lightcoral">Tags:

                        {% for tag in question.tag.all %}
                            <a href="{% url 'tag' tag %}" class="popular_tags_header">{{ tag }}</a>
                        {% endfor %}

                    </div>
                </div>


            </div>
        </div>

        <div class="row">
            <div class="col-lg-12">

            </div>
        </div>
    </div>
</div> <!-- /one question -->