<div class="row askme_question" sty> <!-- one answer -->
    <div class="col-lg-2">
        <div style="text-align: center;margin-top: 10px; margin-bottom: -10px; max-width: 100%;">{{ answer.user.username }}</div>
        <div style="text-align: center;"><img src="../../img/avatar1.png" style="width: 70px; margin-top: 20%;"></div>
        <div class="row" style="padding-top: 25%">
            <div class="col-lg-4"><a href="#"><span class="glyphicon glyphicon-thumbs-up"></span></a></div>
            <div class="col-lg-4" style="padding-left: 11px;">{{ answer.ratio }}</div>
            <div class="col-lg-4"><a href="#"><span class="glyphicon glyphicon-thumbs-down"></span></a></div>
        </div>
    </div>
    <div class="col-lg-10">
        <br>
        <div class="row">
            <div class="col-lg-12">
                <div class="askme_question_date" style="margin-left: 0px;">
                    date: {{ answer.publicationDate }}
                </div>
            </div>
        </div>
        <hr class="askme_small_margin_hr">
        <div class="row">
            <div class="col-lg-12">
                <div class="askme_question_text">{{ answer.text }}</div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12" style="padding-top: 10px;">
                <label class="checkbox-inline">
                    <input type="checkbox"> Correct
                </label>
            </div>
        </div>
        <br>
    </div>
</div> <!-- /one answer -->