<div>
    <nav aria-label="Page navigation">


        {% if answersList %}
            <ul class="pagination">
                {% if answersList.has_previous %}
                    <li><a href="?page={{ answersList.previous_page_number }}">&laquo;</a></li>
                {% else %}
                    <li class="disabled"><a href="#">&laquo;</a></li>
                {% endif %}

                {% for num in answersList.paginator.page_range %}
                    {% ifequal num answersList.number %}
                        <li class="active"><a href="#">{{ num }}<span class="sr-only">(current)</span></a></li>
                    {% else %}
                        <li><a href="?page={{ num }}">{{ num }}</a></li>
                    {% endifequal %}
                {% endfor %}

                {% if answersList.has_next %}
                    <li><a href="?page={{ answersList.next_page_number }}">&raquo;</a></li>
                {% else %}
                    <li class="disabled"><a href="#">&raquo;</a></li>
                {% endif %}
            </ul>
        {% elif questionList %}
            <ul class="pagination">
                {% if questionList.has_previous %}
                    <li><a href="?page={{ questionList.previous_page_number }}">&laquo;</a></li>
                {% else %}
                    <li class="disabled"><a href="#">&laquo;</a></li>
                {% endif %}

                {% for num in questionList.paginator.page_range %}
                    {% ifequal num questionList.number %}
                        <li class="active"><a href="#">{{ num }}<span class="sr-only">(current)</span></a></li>
                    {% else %}
                        <li><a href="?page={{ num }}">{{ num }}</a></li>
                    {% endifequal %}
                {% endfor %}

                {% if questionList.has_next %}
                    <li><a href="?page={{ questionList.next_page_number }}">&raquo;</a></li>
                {% else %}
                    <li class="disabled"><a href="#">&raquo;</a></li>
                {% endif %}
            </ul>
        {% endif %}


    </nav>
</div>