{% extends "askme/base.html" %}

{% block content %}
    {% include "askme/headlinks.html" %}
    <div>
        {% if questionList %}
            {% for question in questionList %}
                {% include "askme/one_question.html" %}
            {% endfor %}
        {% endif %}



        {% if answersList %}
            {% for answer in answersList %}
                {% include "askme/one_answer.html" %}
            {% endfor %}
        {% endif %}

        <hr>
        <div class="row">
            <div class="col-lg-12">
                <form>
                    <div class="form-group">
                    <textarea class="form-control askme_textArea_width_100" rows="4"
                              placeholder="Enter your answer..."></textarea>
                    </div>
                </form>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <button type="submit" class="btn btn-default">Answer</button>
            </div>
        </div>

    </div>
    {% include "askme/paginator.html" %}
{% endblock %}