{% extends "askme/base_unauthorized_user.html" %}

{% block content %}

<div class="row" style="margin-top: 50px;">
    <div class="col-lg-1 askme_createQuestion_title"> <!-- Start body question -->
        Login
    </div>
    <div class="col-lg-10 col-lg-offset-1">
        <div style="color: red; font-size: xx-small;">ERROR</div>
        <form>
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Login">
            </div>

        </form>
    </div>
</div>
<div class="row">
    <div class="col-lg-1 askme_createQuestion_title"> <!-- Start body question -->
        Email
    </div>
    <div class="col-lg-10 col-lg-offset-1">
        <div style="color: red; font-size: xx-small;">ERROR</div>
        <form>
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Email">
            </div>

        </form>
    </div>
</div>
<div class="row">
    <div class="col-lg-1 askme_createQuestion_title"> <!-- Start body question -->
        Nickname
    </div>
    <div class="col-lg-10 col-lg-offset-1">
        <div style="color: red; font-size: xx-small;">ERROR</div>
        <form>
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Nickname">
            </div>

        </form>
    </div>
</div>
<div class="row">
    <div class="col-lg-1 askme_createQuestion_title">
        Password
    </div>
    <div class="col-lg-10 col-lg-offset-1">
        <div style="color: red; font-size: xx-small;">ERROR</div>
        <form>
            <div class="form-group">
                <input type="password" class="form-control" placeholder="Password">
            </div>

        </form>
    </div>
</div>
<div class="row">
    <div class="col-lg-1">
        Repeat password
    </div>
    <div class="col-lg-10 col-lg-offset-1">
        <div style="color: red; font-size: xx-small;">ERROR</div>
        <form>
            <div class="form-group">
                <input type="password" class="form-control" placeholder="Password">
            </div>

        </form>
    </div>
</div>
<div class="row">
    <div class="col-lg-1">
        Choose avatar
    </div>
    <div class="col-lg-8 col-lg-offset-1">
        <div style="color: red; font-size: xx-small;">ERROR</div>
        <form>
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Avatar">
            </div>
        </form>
    </div>
    <div class="col-lg-2">
        <form>
            <div class="form-group">
                <button type="submit" class="btn btn-default" style="margin-top: 12px;">Choose</button>
            </div>
        </form>
    </div>
</div>
<div class="row">
    <div class="col-lg-10 col-lg-offset-2">
        <button type="submit" class="btn btn-default">Register!</button>
    </div>
</div>

{%  endblock %}
