.askme_topbar_height {
    height: 50px;
    max-height: 50px;
    margin-left: 30px;
}

.askme_topbar_avatar {
    width: 27%;
    margin-top: 2%
}

.askme_li_inline {
    display: inline;
}

.askme_nav_input {
    width: 400px !important;
}

img {
    max-width: 100%;
}

.navbar_inlarge {
    width: 25%;
}

.user_information {
    width: 60%;
}

.nickname {
    width: 70%;
    float: right;
    text-align: center;
    margin-top: 17px;
}

.popular_tags_header {

    margin-left: 10px;
    margin-top: 10px;
}

.question_head {
    position: relative;
}

.question_head__another {
    margin-top: 25px;
}

.askme_question {
    margin-top: 20px;
    background-color: lightgray;
}

.askme_question:hover{
    background-color: lightblue;
}

.askme_question_answer_and_tags {
    margin-top: 14px;
    margin-bottom: 10px;
}

.askme_question_date {
    color: lightcoral;
    margin-left: 15px;
}

.askme_question_text {
    text-align: justify;
}

.askme_tags_panel {
    background-color: #f8f8f8;
    border: 1px solid #e8e8e8;
    height: 100%;
}

.askme_createQuestion_title {
    padding-top: 7px;
}

.n {
    max-width: 100%;
}

.askme_small_margin_hr{
    margin-bottom: 5px;
    margin-top: 0px;
}
