<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>GET and POST</title>
</head>
<body>
	<p name="method_post"> POST: </p>
	<form action="{% url 'post_get_view' %}" method="POST">
		{% csrf_token %}
		<p>Query: <input name="login2" type="text" value=""></p>
		<p><input type="submit" value="Submit"></p>
	</form>

	{% for x in data %}
		{{ x }}<br>
	{% endfor %}

</body>
</html>